.image-container{
    position: relative;
    border: 2px solid red;
    
    /* z-index: -1; */
    
}
.image-container img{
    width: 100%;
    height: 600px;
    
 
}
.image-text{
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    color: #ffffff;
    /* background: linear-gradient(to top, #908080, rgb(193, 65, 65)); */
    padding: 20px;
    border-radius: 5px;

    
}
.button{
    background-color: #bc1f1f;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;

}
.button:hover{
    background-color: #f49b9b;
}
/* 2nd part  */
.text{
    text-align: center;
}
.Amount{
    display: flex;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
}
.amount{
    /* border: 2px solid red; */
    width: 200px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ec9797;
    color: black;
}
.amount:hover{
    color: #ea1111;
    background-color: #eebebe;
    /* transition: 0.5ms; */
}
.another{
    text-align: center;
}
.input{
  
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 8px;
    
}
/* 3rd part  */
.Donate-Card{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.donate-card img{
    height: 100px;
    width: 100px;
}
.donate-card{
    background-color: #f4ea53;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 300px;
    border-radius: 8px;

}
/* 4th part  */
.depends{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    /* align-items: ; */
    background-color: #e1ec94;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;

}
.depends-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.depends img{
    width: 600px;
    height: 500px;
    border-radius: 5px;
} 
/* 5th part */
#Subscribe{
    background: #c6d442;
    padding: 40px;
    border-radius: 5px;
}
.human{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #0b0b0b;
    color: white;
    padding: 40px 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.human:hover{
    background-color: #fff;
    color: #000;
}
/* responsive part  */
@media screen and (max-width:576px) {
    .image-text{
        position: absolute;
        top: 30%;
        left: 20%;
        text-align: center;
        margin-right: 40px;
        color: #ffffff;
        /* background: linear-gradient(to top, #908080, rgb(193, 65, 65)); */
        padding: 20px;
        border-radius: 5px;

    
        
    }
    /* 2nd part  */
    .Amount{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        justify-content: center;
        align-items: center; 
       
    }
    .amount{

        width: 130px;
        height: 75px;
        padding: 20px;
    }
    /* 3rd section  */
    .Donate-Card{
        flex-direction: column;
        align-items: center;
    }
    /* 5th and 6th part  */
    .depends{
        flex-direction: column;
    }
    .depends img{
        max-width: 100%;
    }
}